<ion-header>

    <ion-navbar>
      <ion-title>Menu de la semaine </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <ion-list inset>
      <ion-item>
        <ion-title>Mardi</ion-title>

              <ion-label>Plats du mardi</ion-label>
              <ion-select [(ngModel)]="tuesdayChoices" multiple="true" (ionChange)="tuesdaySelected($event)">
                <ion-option *ngFor="let meal of meals" value={{meal.id}}>{{meal.name}}</ion-option>
              </ion-select>
  
        
  
        <ion-card col-3>
          <button ion-button>
              <ion-icon></ion-icon>
          </button>
          <ion-card-content>
            <p>Ajouter un plat</p>
          </ion-card-content>
        </ion-card>
  

      </ion-item>
  

      <ion-item>
        <ion-title>Mercredi</ion-title>
  
          <ion-label>Plats du mercredi</ion-label>
          <ion-select [(ngModel)]="wednesdayChoices" multiple="true" (ionChange)="wednesdaySelected($event)">
            <ion-option *ngFor="let meal of meals" value={{meal.id}}>{{meal.name}}</ion-option>
          </ion-select>

      </ion-item>


      <ion-item>
        <ion-title>Jeudi</ion-title>
  
        <ion-label>Plats du mercredi</ion-label>
        <ion-select [(ngModel)]="thursdayChoices" multiple="true" (ionChange)="thursdaySelected($event)">
          <ion-option *ngFor="let meal of meals" value={{meal.id}}>{{meal.name}}</ion-option>
        </ion-select>
        
  
      </ion-item>



      <ion-item>
        <ion-title>Vendredi</ion-title>
  
        <ion-label>Plats du mercredi</ion-label>
        <ion-select [(ngModel)]="fridayChoices" multiple="true" (ionChange)="fridaySelected($event)">
          <ion-option *ngFor="let meal of meals" value={{meal.id}}>{{meal.name}}</ion-option>
        </ion-select>
  

      </ion-item>
  
  
  
    </ion-list>
  
  
  
  
  </ion-content>